@import '_reset.scss';
@import '_variables';

body {
   height: 100vh;
   font-size: 15px;
   font-family: Poppins, sans-serif;
   background: $light_gray;
}

header {
   padding-top: 4rem;
   text-align: center;
   line-height: 40px;
   color: $gray_blue;
   margin-bottom: 3rem;

   div {
      font-size: 1.5rem;
      font-weight: 200;
   }

   p {
      margin: 0rem 2rem;
      line-height: 22px;
   }
}

h1 {
   font-size: 1.6rem;
   font-weight: 600;
   color: $dark_blue;
   margin-bottom: 0.5rem;
}

.container {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-template-rows: repeat(4, 1fr);
   row-gap: 30px;
   justify-content: stretch;

   div {
      display: flex;
      justify-content: center;
   }
}

.supervisor {
   grid-row: 1 / span 1;
   grid-column: 1 / span 1;
   position: relative;
   margin: auto;

   section {
      border-top: 5px solid $cyan;
   }
}

.team_builder {
   grid-row: 2 / span 1;
   grid-column: 1 / span 1;
   position: relative;
   margin: auto;

   section {
      border-top: 5px solid $red;
   }
}

.karma {
   grid-row: 3 / span 1;
   grid-column: 1 / span 1;
   position: relative;
   margin: auto;

   section {
      border-top: 5px solid $orange;
   }
}

.calculator {
   grid-row: 4 / span 1;
   grid-column: 1 / span 1;
   position: relative;
   margin: auto;

   section {
      border-top: px solid $blue;
   }
}

section {
   display: inline-block;
   background-color: white;
   width: 20rem;
   height: 15rem;
   box-shadow: 1px 1px 10px $gray_blue;
   border-radius: 5px;
   padding: 1.5rem;

   color: $gray_blue;
   line-height: 25px;

   img {
      position: relative;
      bottom: -40px;
      left: 210px;
   }
}

h2 {
   color: $dark_blue;
   font-weight: 600;
   font-size: 1.2rem;
   margin-bottom: 0.4rem;
}

.attribution {
   font-size: 11px;
   text-align: center;
   padding: 1rem;
}
.attribution a {
   color: hsl(228, 45%, 44%);
}

// ************ RESPONSIVE ***********

@media (min-width: 376px) {
   header {
      p {
         margin: 0rem 30rem;
      }
   }

   .container {
      margin: 0rem 7.5rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
   }

   .supervisor {
      grid-row: 1 / span 2;
      grid-column: 1 / span 1;

      position: relative;
      margin: auto;
   }

   .team_builder {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
      position: relative;
      margin: auto;
   }

   .karma {
      grid-row: 2 / span 1;
      grid-column: 2 / span 1;
      position: relative;
      margin: auto;
   }

   .calculator {
      grid-row: 1 / span 2;
      grid-column: 3 / span 1;
      position: relative;
      margin: auto;
   }

   section {
      width: 23rem;

      img {
         left: 250px;
      }
   }
}
